<a href="https://colab.research.google.com/github/adityakshay/Machine-Learning/blob/master/Advanced_Algortihms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Neural Network Based Regression

In [0]:
import tensorflow as tf
from tensorflow import keras

import pandas as pd
import numpy as np

In [0]:
data1 = keras.datasets.boston_housing

In [5]:
data1

In [6]:
(train_X, train_y), (test_X, test_y) = data1.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/boston_housing.npz
57344/57026 [==============================] - 0s 0us/step

In [10]:
print(train_X.shape
,test_X.shape)

(404, 13) (102, 13)

In [11]:
print(train_y.shape
,test_y.shape)

(404,) (102,)

In [0]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
                'TAX', 'PTRATIO', 'B', 'LSTAT']

In [0]:
train_df = pd.DataFrame(train_X, columns= column_names)

In [15]:
train_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
0  1.23247   0.0   8.14   0.0  0.538  ...   4.0  307.0     21.0  396.90  18.72
1  0.02177  82.5   2.03   0.0  0.415  ...   2.0  348.0     14.7  395.38   3.11
2  4.89822   0.0  18.10   0.0  0.631  ...  24.0  666.0     20.2  375.52   3.26
3  0.03961   0.0   5.19   0.0  0.515  ...   5.0  224.0     20.2  396.90   8.01
4  3.69311   0.0  18.10   0.0  0.713  ...  24.0  666.0     20.2  391.43  14.65

[5 rows x 13 columns]

# Start of Neural Net Architechture

In [0]:
from keras.layers import MaxPooling2D, Dense
from keras.models import Sequential

In [0]:
model = Sequential()

In [0]:
model.add(Dense(64, activation= tf.nn.relu, input_shape=(train_X.shape[1],)))

In [0]:
model.add(Dense(1))

In [0]:
model.compile(loss='mse', optimizer= tf.train.RMSPropOptimizer(0.001), metrics=['mae'])

In [41]:
model.fit(train_X, train_y, epochs = 5)

Epoch 1/5
404/404 [==============================] - 0s 56us/step - loss: 153.9829 - mean_absolute_error: 8.0185
Epoch 2/5
404/404 [==============================] - 0s 49us/step - loss: 93.3103 - mean_absolute_error: 6.9512
Epoch 3/5
404/404 [==============================] - 0s 40us/step - loss: 78.5403 - mean_absolute_error: 6.6364
Epoch 4/5
404/404 [==============================] - 0s 52us/step - loss: 64.5669 - mean_absolute_error: 5.8333
Epoch 5/5
404/404 [==============================] - 0s 42us/step - loss: 81.0789 - mean_absolute_error: 6.8487

In [40]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 64)                896
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 961
Trainable params: 961
Non-trainable params: 0
_________________________________________________________________